In [22]:
import requests
import pandas as pd

In [23]:
def users_data():
    url = "https://jsonplaceholder.typicode.com/users"
    users = requests.get(url).json()
    df_users = pd.json_normalize(users)
    return df_users

In [24]:
def extract_data():

    # CSV
    df_bookings = pd.read_csv("../data/raw/bookings.csv")

    # Excel
    df_grounds = pd.read_excel("../data/raw/grounds.xlsx")

    # API
    df_users = users_data()


    return df_bookings, df_grounds, df_users

In [25]:
# Quick data
b, g, u = extract_data()
print("Bookings:", b.shape)
print("Grounds:", g.shape)
print("Users:", u.shape)

Bookings: (8, 8)
Grounds: (5, 7)
Users: (10, 15)

In [26]:
b.head()

,booking_id,user_id,ground_id,booking_date,hours,total_price,rating,payment_method
0,1001,201,301,2025-01-05,2.0,NaN,4.0,esewa
1,1002,202,302,2025-01-05,1.0,1200.0,NaN,khalti
2,1003,203,301,2025-01-06,3.0,3000.0,3.0,NaN
3,1004,204,303,2025-01-06,2.0,2200.0,4.0,card
4,1005,201,302,2025-01-07,1.0,1200.0,2.0,esewa

In [27]:
g.head()

,ground_id,ground_name,city,location_type,price_per_hour,indoor,capacity
0,301,Goal Arena,Kathmandu,indoor,1000.0,yes,10.0
1,302,KickOff Hub,Lalitpur,outdoor,1200.0,no,12.0
2,303,Futsal Pro,Bhaktapur,indoor,NaN,yes,10.0
3,304,Champions Turf,Kathmandu,outdoor,1300.0,no,14.0
4,305,Urban Futsal,Pokhara,indoor,900.0,yes,NaN

In [28]:
u.head()

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems