In [5]:
# from config.db_config import get_pg_connection, get_sqlalchemy_engine

# conn = get_pg_connection()
# engine = get_sqlalchemy_engine()

In [6]:
import pandas as pd

In [7]:
df_bookings=pd.read_csv("../data/raw/bookings.csv")

In [8]:
df_grounds=pd.read_excel("../data/raw/grounds.xlsx")

In [9]:
# df_users=pd.read_json("../data/raw/users_api.json")

In [10]:
df_bookings

,booking_id,user_id,ground_id,booking_date,hours,total_price,rating,payment_method
0,1001,201,301,2025-01-05,2.0,NaN,4.0,esewa
1,1002,202,302,2025-01-05,1.0,1200.0,NaN,khalti
2,1003,203,301,2025-01-06,3.0,3000.0,3.0,NaN
3,1004,204,303,2025-01-06,2.0,2200.0,4.0,card
4,1005,201,302,2025-01-07,1.0,1200.0,2.0,esewa
5,1006,205,304,2025-01-07,NaN,2600.0,5.0,khalti
6,1007,206,301,2025-01-08,2.0,2000.0,4.0,cash
7,1008,202,303,2025-01-08,1.0,1100.0,3.0,card

In [11]:
df_grounds

,ground_id,ground_name,city,location_type,price_per_hour,indoor,capacity
0,301,Goal Arena,Kathmandu,indoor,1000.0,yes,10.0
1,302,KickOff Hub,Lalitpur,outdoor,1200.0,no,12.0
2,303,Futsal Pro,Bhaktapur,indoor,NaN,yes,10.0
3,304,Champions Turf,Kathmandu,outdoor,1300.0,no,14.0
4,305,Urban Futsal,Pokhara,indoor,900.0,yes,NaN

In [12]:
# df_users

In [13]:
import requests

url = "https://jsonplaceholder.typicode.com/users"
users = requests.get(url).json()

df_users = pd.json_normalize(users)

In [14]:
df_users

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models